
a:hover{

color: #b7b6b6;
    text-decoration: none;
    
	
}

a {
    
    text-decoration: none;
        font-size: 20px;
    color: white;
}

a:link{

	color:lightgreen;


}

.homepage-1 h2{
	font-size: 30px;
	color: white;
	margin-top: 15px;
	margin-left: 10px;

}

.homepage-2 {

	 margin-top: 25px;
	 float: right;
}

.container{
 	margin-top: 15px;
 }